:root {
  --background-1: #1e1e1e;
  --background-2: #2d2d2d;
  --foreground-color: #dddcdc;

  /* Adjusted border color to better match dark theme */
  --border-color: #444444;

  --highlight-color: #ff0000;
  --highlight-contrast: #ff4d4d;

  --sn-stylekit-info-color: #ff0000;
  --sn-stylekit-info-contrast-color: #333333;
  --sn-stylekit-neutral-color: #ff0000;
  --sn-stylekit-neutral-contrast-color: #333333;
  --sn-stylekit-success-color: #e60000;
  --sn-stylekit-success-contrast-color: #333333;
  --sn-stylekit-warning-color: #cc0000;
  --sn-stylekit-warning-contrast-color: #333333;
  --sn-stylekit-danger-color: #8f2424;
  --sn-stylekit-danger-contrast-color: #bbbbbb;

  --sn-stylekit-shadow-color: var(--background-2);
  --sn-stylekit-background-color: var(--background-1);
  --sn-stylekit-foreground-color: var(--foreground-color);
  --sn-stylekit-border-color: var(--border-color);
  --sn-stylekit-paragraph-text-color: var(--foreground-color);
  --sn-stylekit-contrast-background-color: var(--background-2);
  --sn-stylekit-contrast-foreground-color: var(--foreground-color);
  --sn-stylekit-contrast-border-color: var(--border-color);
  --sn-stylekit-secondary-background-color: var(--background-1);
  --sn-stylekit-secondary-foreground-color: var(--foreground-color);
  --sn-stylekit-secondary-border-color: var(--border-color);
  --sn-stylekit-secondary-contrast-background-color
